@import "common.less";

@font-face {
  font-family: 'Gotham Rounded B';
  src: url(/static/font/font.woff);
}

@font-face {
  font-family: 'Gotham Rounded A';
  src: url(/static/font/font-bold.woff);
}

.pull-left {
  float: left; 
}

.pull-right {
  float: left; 
}

.width-30 {
  width: 30%;
}

.width-24 {
  width: 24%;
}

.width-80 {
  width: 80%;
}

.width-66 {
  width: 66%;
}

.fixed {
  position: fixed;
  right: 10px;
  top: 10px;
}
