div.post-detail {
  max-width: 670px;
  width: 90%;
  margin: 0 auto;
}

div.post-info-wrapper {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  color: #3e474c;
  text-align: center;
  margin: 1em 0;
}
