* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
div.text-wrapper {
  position: absolute;
  margin: auto;
  width: 40px;
  left: 0;
  right: 0;
}
div.text-wrapper div.title {
  color: #f3f3f3;
  padding: 0 10px;
  padding-bottom: 5px;
}
div.text-wrapper div.text {
  color: #ccc;
  font-size: 12px;
  padding: 0 10px;
}
