.h2-style{font-weight:500;font-size:30px;color:#3e474c;text-align:center;margin:1em 0}h2{font-weight:500;font-size:30px;color:#3e474c;text-align:center;margin:1em 0;padding-right:1em}img.no-content{display:block;width:80%;margin:0 auto}
