<div class="comment">
  <div class="post-info">
    <span class="name">{{username}}</span>
    <span class="on">on</span>
    <time class="create-time">{{create_time}}</time>
    <span class="on">, said: </span>
  </div>
  <p class="comment-content">{{content}}</p>
</div>