{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bin/css/admin.css')}}">
<div class="admin-content">

  <div class="hero">
    <button id="logout">logout</button>
    <!--create new post-->
    <a href="/new_post">create a new post!</a>
  </div>

  <!--update user profile-->
  <div class="hero">
    <div class="title">Profile</div>
    <form class="profile-update">
      <label>
        <div class="type">username: </div>
        <input type="text" name="username" value="{{session['username']}}"></label>
      <label>
        <div class="type">name: </div>
        <input type="text" name="name" value="{{session['name']}}"></label>
      <label>
        <div class="type">email: </div>
        <input type="text" name="email" value="{{session['email']}}"></label>
      <button class="update-profile">update</button>
    </form>
  </div>

  <!--update user password-->
  <div class="hero">
    <div class="title">Password</div>
    <form class="password-update">
      <label>
        <div class="type">old password:</div>
        <input name="old_password" type="password">
      </label>
      <label>
        <div class="type">new password: </div>
        <input name="new_password" type="password"></label>
      <button class="update-password">update</button>
    </form>
  </div>

  <!--posts list with edit functionality-->
  <div class="hero">
    <div class="title">Posts({{posts|length}})</div>
    <ul class="posts">
    {% for post in posts %}
    <li class="post">
      <div>title: <a href="/post/{{post.id}}">{{post.title}}</a></div>
      <div>last update time: {{post.update_time}}</div>
      <div>status: {{post.status}}</div>
      <a href="/edit_post/{{post.id}}">编辑</a>
      <a class="delete-post" data-post-id="{{post.id}}">删除</a>
    </li>
    {% endfor %}
    </ul>
  </div>

  <!--images management-->
</div>
<script src="{{url_for('static', filename='bin/js/admin.js')}}"></script>
{% endblock %}
