{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bin/css/admin_login.css')}}">
<div class="admin-login-form">
  <div class="field">
    <label>
      <div class="label">Username: </div>
      <input id="username" type="text" autofocus>
    </label>
  </div>
  <div class="field">
    <label>
      <div class="label">Password: </div>
      <input id="password" type="password">
    </label>
  </div>
  <button id="submit">Login</button>
</div>
<script src="{{url_for('static', filename='bin/js/admin_login.js')}}"></script>
{% endblock %}
