<link rel="stylesheet" href="{{url_for('static', filename='bin/css/edit_post_area.css')}}">
<form class="edit-post-form">
  <div class="section">
    <input type="text" placeholder="Title" name="title">
  </div>
  <div class="section">
    public: <input type='radio' name="status" checked="checked" value="public">&nbsp;
    private: <input type='radio' name="status" value="private">
  </div>
  <div class="section">Tags: <input type="text" name="tags"></div>
  <div class="section">
    Content:
    <textarea name="content" class="editor"></textarea>
  </div>
</form>
