{% extends "layout.html" %}

{% block content %}

{% include "side_bar.html" %}

<div class="posts">
  {% if posts|length == 0%}
  <div>无内容</div>
  {% endif %}
  {% for post in posts %}
  <div class="post">
    <a href="/post/{{post.id}}">
      <div>标题：{{post.title}}</div>
      <div>内容：{{post.content}}</div>
      <div>最后更新时间：{{post.update_time}}</div>
      <div>创建时间：{{post.create_time}}</div>
      <div>标签：
      {% for tag in post.tags %}
        <span>{{tag}}</span>
      {% endfor %}
      </div>
      <div>{{post.status}}</div>
    </a>    
  </div>
  <hr>
  {% endfor %}
</div>

{% set count = pages|length %}
{% if count != 1 %}
<div class="pages-nav">
  {% for page in pages %}
    {% if page == active_page %}
      <a class="active">{{page}}</a>
    {% else %}  
      <a href="{{link}}{{page}}">{{page}}</a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

{% endblock %}
