{% extends "layout.html" %}
{% block content %}
<div class="post-detail">
  <h1>{{post.title}}</h1>
  <div>{{post.status}}</div>
  <div>
    <ul>
    {% for tag in post.tags %}
      <li>{{tag}}</li>
    {% endfor %}
    </ul>
  </div>
  <span>{{post.update_time}}</span>
  <pre>{{post.content}}</pre>

  <div class="new-comment">
    <form id="new-comment-form">
      <input type="hidden" name="post_id" value="{{post.id}}">
      <div>Email: <input type="text" name="user_email"></div>
      <div>Username: <input type="text" name="username"></div>
      <textarea name="content"></textarea>
      <button id="submit-new-comment">发布！</button>
    </form>
  </div>

  <div class="comments">
    {% for comment in post.comments %}
    <div class="comment">
      <div>{{comment.username}}</div>
      <div>{{comment.content}}</div>
      <div>{{comment.create_time}}</div>
    </div>
    <hr>
    {% endfor %}
  </div>

</div>
<script src="{{url_for('static', filename='js/post.js')}}"></script>
{% endblock %}
