{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='bin/css/post_detail.css')}}">
<div class="post-detail">
  <h2>{{post.title}}</h2>

  {% if session.get('is_admin') %}
  <div class="fixed">
    <div>{{post.status}}</div>
    <a href="/edit_post/{{post.id}}">编辑</a>
  </div>
  {% endif %}

  <div class="post-info-wrapper">
    <div class="post-info">
      <span class="name">{{post.author.name}}</span>
      <span class="on">created on</span>
      <time class="create-time">{{post.create_time.strftime('%b %d, %y')}}</time>
      <span class="on">last updated on</span>
      <time class="create-time">{{post.update_time.strftime('%b %d, %y')}}</time>
    </div>
  </div>


  <div class="post-content">
    Loading...
  </div>

  <div class="tags">
    Tags:
    {% for tag in post.tags %}
      <a href="/search_by_tag/{{tag}}/1">{{tag}}</a>
    {% endfor %}
  </div>

  <div class="new-comment">
    <form id="new-comment-form">
      <input type="hidden" name="post_id" value="{{post.id}}">
      <label>
        <div>Email:</div>
        <input placeholder="example@mail.com" type="email" name="user_email">
      </label>
      <label>
        <div>Username:</div>
        <input placeholder="4 ~ 16 letters" type="text" name="username">
      </label>
      <label><div>Comment:</div></label>
      <textarea placeholder="1 ~ 140 letters" name="content"></textarea>
      <button id="submit-new-comment">发布</button>
    </form>
    <div class="comments-count">Comments (
      <span class="count">{{post.comments|length}}</span>
      )
    </div>
  </div>

  <div class="comments">
    {% for comment in post.comments[:100] %}
    <div class="comment">
      <div class="post-info">
        <span class="name">{{comment.username}}</span>
        <span class="on">on</span>
        <time class="create-time">{{comment.create_time.strftime('%b %d, %y')}}</time>
        <span class="on">, said: </span>
      </div>
      <p class="comment-content">{{comment.content}}</p>
    </div>
    {% endfor %}
  </div>

</div>
<script>var postData = {{post_json|safe}}</script>
<script src="{{url_for('static', filename='bin/js/post.js')}}"></script>
{% endblock %}
