<link rel="stylesheet" href="{{url_for('static', filename='bin/css/sidebar.css')}}">

<div class="sidebar pull-left width-24">
  <div class="search sidebar-section">
    <div class="section-title">Search</div>
    <input class="keyword" type="text">
    <button class="search">GO!</button>
    <script src="{{url_for('static', filename='bin/js/search.js')}}"></script>
  </div>

  <div class="dilimiter"></div>

  <div class="sidebar-section">
    <div class="section-title">Tags</div>
    <div class="tags">
    {% for tag_name, count in tags.iteritems() %}
    <a class="tag" href="/search_by_tag/{{tag_name}}/1">
      {{tag_name}}({{count}})
    </a>
    {% endfor %}
    </div>
  </div>
</div>
